.register section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

input {
    display: block;
}

#register {
    margin-top: 20px;
    width: 200px;
    height: 40px;
}

#profile-image-container {
    width: 250px;
    height: 250px;
    display: block;
}

#registration-form {
    display: inline;
    float: left;
}

#information-form {
    display: inline;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
} 

.register_fragment {
    top: 40px;
    position: absolute;
    left: 25%;
}

.win-backbutton {
    display: none;
}

#registration-form input {
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#registration-form label {
    font-size: 18px;
    font-weight: normal;
}

#registration-form button {
    width: 100%;
    display: block;
    margin-top: 40px;
    font-size: 30px;
    height: 60px;
}

#add-picture-button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.register_fragment section {
    margin-top: 40px;
}

@media screen and (-ms-view-state: snapped) {
    .register section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .register_fragment {
        position: absolute;
        left: 20px;
    }

    #information-form {
        display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .register section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}