.error {
    color: #F87171;
}

.login section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#login-form {
    width: 350px;
}

.login_fragment {
    top: 20px;
    position: absolute;
    left: 35%;
}

#register-redirect-container {
    margin-top: 30px;
    font-size: 20px;
}

#link-register {
    font-size: 40px;
}

#login-form input {
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

#login-form label {
    font-size: 18px;
    font-weight: normal;
}

#login-form button {
    width: 100%;
    display: block;
    margin-top: 40px;
    font-size: 30px;
    height: 60px;
}

@media screen and (-ms-view-state: snapped) {
    .login section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .login_fragment {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    #login-form {
        width: 99%;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .login section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
