.register section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

input {
    display: block;
}

#register {
    margin-top: 20px;
    width: 200px;
    height: 40px;
}

#profile-image-container {
    display: none;
    width: 250px;
    height: 250px;
}

#registration-form {
    display: inline;
    float: left;
}

#information-form {
    display: inline;
    float: left;
}

@media screen and (-ms-view-state: snapped) {
    .register section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .register section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}